/* grid-template-columns:
  repeat(auto-fit, minmax(10px, 1fr)); */

.grid-planning {
  display: grid;

  .grid-timeline {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: dense;
    grid-column: 2/-1;

    .slot {
      overflow: hidden;
      /* outline: 1px solid black; */
      border: 1px solid black;
      border-radius: 6px;
      text-align: center;
    }
  }
}
