/* grid-template-columns:
  repeat(auto-fit, minmax(10px, 1fr)); */

.grid-planning {
  display: grid;

  & .grid-row {
    break-inside: avoid;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;

    border-top: 1px solid black;

    & .title {
      text-align: center;
    }

    & .quest-type {
      font-size: 0.8em;
    }
  }

  & .grid-left {
    border-right: 1px solid black;
  }

  & .grid-ticks {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/-1;

    .tick {
      border-left: 1px dashed lightgrey;
      position: relative;

      >div {
        position: absolute;
      }
    }
  }

  & .grid-timeline-tracks {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/-1;
    grid-row: 1;

    z-index: -1;

    & .time-track {
      border-left: 1px dashed lightgrey;
      position: relative;

      & span {
        /* TODO */
        display: none;
        position: absolute;
        color: lightgrey;
        font-size: 0.5em;
      }
    }
  }

  & .grid-timeline {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: dense;
    grid-column: 2/-1;
    grid-row: 1;

    border-left: 1px solid black;

    & .slot-item {
      padding: 2px;
      padding-left: 0px;
      font-size: 0.5em;
      color: black;

      & .slot-box {
        overflow: visible;
        container: slot-box / inline-size;

        height: 100%;

        padding: 2px;

        border: 1px solid #ababab;
        border-radius: 3px;
      }

      & .slot-content {
        display: flex;
        min-width: 3rem;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        & .slot-details {
          margin-top: 0.125rem;
          font-size: 0.75em;
        }
      }
    }

    @container slot-box (max-width: 50px) {
      & .slot-box .slot-content {
        text-align: left;
        font-size: 0.7em;
        min-width: 2rem;
      }
    }
  }
}
