@media print {
  /* @page {
    size: portrait;
  } */

  .planning-place:not(:first-child) {
    break-before: page;
  }

  html,
  body {
    font-size: 10pt;
  }
}

.planning-view {

  & h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  & hgroup {
    text-align: center;
  }

  & .day-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;

    &>div {
      max-width: 25rem;
      break-after: always;
    }
  }
}


.planning-legend {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;

  & article {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h6 {
      margin-bottom: 0;
    }

    & p {
      margin-bottom: 0;
      margin-top: var(--pico-typography-spacing-vertical);
      font-size: italic;
    }
  }
}

table.planning {

  & td,
  th {
    text-align: center;
    border: solid 1px black;

    @media (prefers-color-scheme: dark) {
      border: solid 1px white;
    }

    & .planning-cell-content {
      display: flex;
      flex-direction: row;

      & .planning-cell-tags {
        font-size: 1rem;
        align-self: flex-start;
        margin-right: 0.5rem;
      }

      &.full-details {
        flex-direction: column-reverse;

        & .planning-cell-tags {
          font-size: 0.6rem;
        }
      }
    }
  }
}
